// CORE

input {
  // -webkit-appearance:none;
  font-family: $Museo500
}

h1 {
  line-height: $line-height * 3;
}

h2 {
  font-size: $font-size * 2;
  line-height: $line-height * 2;
}

#app {
  font-family: $Museo500 !important;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  .home {
    width: 100vw;
    height: 100vh;
    main {
      height: 90vh;
      background: url('../assets/bg@2x.png');
      background-size: cover;
      .main {
        position: absolute;
        @include center;
        background: $white;
        color: $black;
        box-shadow: 0px 10px 15px #888888;
        &.questionnaire {
          width: 80vw;
          height: 70vh;
          text-align: center;
          transition: all 1s ease-out;
          img {
            width: 40%;
            height: auto;
            margin: 0 5%
          }
        }
        &.product {
          z-index: 96;
          width: 90vw;
          height: 70vh;
          .left {
            float: left;
            width: 40%;
            img {
              width: 100%;
              padding: 3%;
            }
            h2 {
              position: absolute;
              bottom: 3vh;
              left: 20%;
              height: auto;
              color: rgb(116, 168, 62);
              text-shadow: 0px 3px 10px rgb(255, 255, 255);
            }
          }
          .right {
            float: left;
            width: 60%;
            .description {
              width: 80%;
              display: inline;
              &:after {
                content: '\a\a';
                white-space: pre;
              }
            }
            .stars {
              &:after {
                content: '\a';
                white-space: pre;
              }
              color: rgb(255, 191, 0);
              .filled {
                color: rgb(73, 73, 73);
              }
            }
          }
          #buy {
            color: yellow;
          }
        }
        &.checkout {
          width: 90vw;
          height: 75vh;
          background: rgba(255, 255, 255, 0.73);
          .basket {
            > h1 {
              padding: 1% 2% 0 2%;
            }
            width: 70%;
            float: left;
            .item {
              width: auto;
              border-bottom: 2px solid rgb(217, 217, 217);
              img {
                width: auto;
                height: 30vh;
                padding: 2%;
                display: inline-block;
              }
              .info {
                display: inline-block;
                vertical-align: top;
                margin: 3% 0 0 0;
              }
              &.sneak {
                img {
                  height: 12vh;
                }
              }
            }
          }
          .bump {
            width: 30%;
            height: 80%;
            float: right;
            text-align: right;
            padding: 3%;
          }
          .totals {
            width: 30%;
            height: auto;
            float: right;
            clear: both;
          }
        }
        &.conditions {
          width: 75vh;
          height: 75vh;
          background: rgba(255, 255, 255, 0.73);
          > h1 {
            text-align: center;
          }
          > p {
            padding: 2%
          }
          textarea {
            width: 98%;
            max-width: 98%;
            height: 66.6%;
            max-height: 66.6%;
            margin: 0 1% 1% 1%;
          }
        }
      }
      #recommended {
        box-shadow: 0px 10px 15px #888888;
        position: absolute;
        right: 3vw;
        top: 5vw;
        z-index: 99;
        width: 20vh;
        height: 20vh;
        color: $white;
        border-radius: 10vh;
        background: rgb(66, 252, 230);
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        transform: rotate(7deg);
        p {
          display: inline-block;
          height: 100%;
        }
      }
      .popup {
        position: absolute;
        padding: 10px;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        &.warning {
          left: 2vh;
          bottom: 5vh;
          background: rgba(249, 60, 10, 0.79);
          font-size: $font-size * 1.5;
          line-height: $line-height * 1.5;
          font-weight: 900;
        }
        &.invite {
          right: 2vh;
          bottom: 25vh;
          background: rgba(10, 213, 249, 0.79);
          font-weight: 300;
          font-size: $font-size * 1.5;
          line-height: $line-height * 1.5;
        }
        &.freebie {
          left: 2vh;
          top: calc(10vh + #{$line-height * 2.2});
          background: rgba(10, 249, 55, 0.79);
          font-weight: 700;
          font-size: $font-size * 2;
          line-height: $line-height * 2;
        }
        transition: all .3s ease;
      }
      .video {
        position: absolute;
        width: 65vw;
        background: $white;
        color: $white;
        text-align: center;
        transition: all 1s ease-out;
        .container {
          background: $white;
        }
        &.popup {
          width: 30vw;
          top: 2vh;
          right: 10vh !important;
        }
      }
    }
    #alert {
      position: fixed;
      z-index: 10;
      background: rgba(255, 85, 85, 0.5);
      color: $black;
      font-size: $font-size * 2;
      line-height: $line-height * 2;
      width: 100vw;
      height: 100vh;
      transition: all .5s ease-out;
      pointer-events: none;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      -moz-box-shadow:    inset 0 0 100px #9a0000;
      -webkit-box-shadow: inset 0 0 100px #9a0000;
      box-shadow:         inset 0 0 100px #9a0000;
      display: block;
      text-align: center;
      p {
        display: inline;
        padding: 10px 30px;
        border-radius: 5px;
        background: rgba(249, 60, 10, 0.79);
        font-weight: 900;
        box-shadow: 0px 0px 30px rgba(249, 60, 10, 0.79);
      }
    }
  }

  .stop-scroll {
    height: 100%;
    overflow: hidden;
  }


  @keyframes pulse {
    from: {background-color: rgba(241, 67, 67, 0.3)}
    to: {background-color: rgba(241, 67, 67, 1)}
  }

  @-webkit-keyframes pulse {
    from: {background-color: rgba(241, 67, 67, 0.3)}
    to: {background-color: rgba(241, 67, 67, 1)}
  }

  .inline-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
