/* Typography */
$Museo500        : 'Museo500-Regular', Helvetica, Arial, sans-serif;
$Museo300        : 'Museo300-Regular', Helvetica, Arial, sans-serif;
$Museo100        : 'Museo100-Regular', Helvetica, Arial, sans-serif;
$Museo900        : 'Museo900-Regular', Helvetica, Arial, sans-serif;
$Museo700        : 'Museo700-Regular', Helvetica, Arial, sans-serif;
$font-size       : 16px;
$font-size-m     : 24px;
$font-size-l     : $font-size * 3.4;
$line-height     : 20px;
$line-height-m   : 30px;
$line-height-l   : $line-height * 3;
/* Color */
$black           : #000;
$white           : #fff;
$theme-grey      : rgba(238, 238, 238, 0.7);
$theme-darker    : rgb(62, 62, 62);
$background-color: rgba(0,0,0,0.9);
$warn            : rgb(159, 34, 0);
$buy             : rgb(23, 220, 255);
$green           : #24bc20;
$red             : #bb2020;
/* Ornament */
$theme-border: 2px solid rgb(217, 217, 217);
$theme-shadow: 0px 10px 15px #888888;
$border-width    : 1px;
/* Space */
$fixed-margin-top: 32px;
$fixed-margin-bottom: 42px;
$fixed-margin-sides: 18px;
$column-margin-top: 60px;
/* Breakpoints */
$breakpoints     : ( 'small': (max-width: 800px), 'medium': (max-width: 1000px), 'large': (min-width: 1600px), 'short': (max-height: 700px), );
